/* Sticky footer styles
-------------------------------------------------- */
@import url("../fonts/font.css");
html,
body {
  height: 100%;background: #f5f5f5;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
 /* min-height: 100%;*/
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;

  /*background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {

}
.container .credit {
  margin: 20px 0;
}
.right-panel.container{padding-right:0px!important;}
#footer > .container {
padding-right: 0px;
padding-left: 218px;
text-align: center;
}

code {
  font-size: 80%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

.img-polaroid {
padding: 4px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.divider{border-bottom: 1px solid #ddd}
/* CUSTOM CSS
--------------------------------*/
#main-navigation{top: 51px;min-height: 41px}
#main-navigation .navbar-nav > li > a {padding-top: 10px;padding-bottom: 10px;}
#main-navigation .navbar-nav > li.active > a {border-top:2px solid #fff;padding-top: 8px;padding-bottom: 10px;}
.left-panel{width: 220px;padding: 10px 15px;border:1px solid #ddd;border-top:3px solid #0070c2;background: #fff}
.right-panel{width: 810px;background: #fff;margin-left: 5px;border:1px solid #ddd;border-top:3px solid #0070c2;}
.right-panel:after{clear: both}
.navbar-head{background: #0070c2!important}
#brand-logo{width: 70px;margin-top: 4px;}
#brand-toggle{display: block;margin-right: 5px;border:none;}
.align-center{text-align:center!important;vertical-align: middle!important;}
.container-emp{
  padding: 15px
}
fieldset.title-container > legend{
margin-bottom: 10px;
padding-bottom: 15px;
line-height: 32px;
font-size: 24px;
}
fieldset.title-container > legend > small{font-size: 12px;color: #a5a5a6}
.row-x:after{clear: both;}
.clr{clear: both;}

#left-menu-panel li a{}
.modal-dialog{background: #fff;
 border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}
/* CUSTOM table
--------------------------------*/

.table thead tr th.acl{text-align: center;}
.table tbody tr td{vertical-align: middle;}
.table tbody tr.DTTT_selected.odd td{background: #c4ffc4!important}
.table tbody tr.DTTT_selected.even td{background: #d5ffd5!important}

/* CUSTOM Navigation
--------------------------------*/

.nav-custom > li.nav-header {text-transform: uppercase;font-size: 11px;font-weight: bold;}
.nav-custom > li > a {padding: 3px 15px;color: #5e5d5d;}
#left-menu-panel.nav > li.nav-header {text-transform: uppercase;font-size: 11px;font-weight: bold;}
#left-menu-panel.nav > li > a {padding: 3px 5px;color: #5e5d5d;}
#left-menu-panel.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;background-color: transparent;color: #202020}
.navbar-brand{padding: 0 15px;}
.width110{width: 110px;
text-align: center;}

/* CUSTOM Navigation
--------------------------------*/

[class^="custom-icon-"],
[class*=" custom-icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
 margin-top: 0px;
margin-right: 5px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/spriteicons.png");
  background-repeat: no-repeat;

}
[class^="custom-icon-small-"],
[class*=" custom-icons-small-"] {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 0;
}

.custom-icon-small-module{background-position: -4px -91px;}
.custom-icon-module{background-position: -48px -4px;}
.custom-icon-small-events{background-position: -4px -6px;}
.custom-icon-small-role{  background-position: -4px -275px;}
.custom-icon-small-users{  background-position: -4px -215px;}
.custom-icon-small-database{  background-position: -4px -69px;}
.custom-icon-small-cae{  background-position: -4px -6px;}
.custom-icon-small-notes{  background-position: -4px -47px;}
.custom-icon-small-home{ background-position: -4px -131px;}
.custom-icon-small-main-about{ background-position: -4px -295px;}
.custom-icon-main-about{ background-position: -48px -173px;}
.custom-icon-main{ background-position: -48px -204px;}
.custom-icon-database{ background-position: -48px -238px;}
.custom-icon-role{ background-position: -50px -138px;}
.custom-icon-settings{ background-position: -50px -71px;}
.custom-icon-information{ background-position: -50px -172px;}



[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

#question-category{padding-top: 34px;}
.btn-group.bootstrap-select{margin-left: -10px!important}
.width110{width: 120px!important}

.division{
  width: 61px;
  font-size: 11px;
}

.division div .dy{
  width: 10px;
  height: 10px;
  float: left;
  background: #ddd;
  margin: 1px;
}

.left-panel .nav li.nav-header {
font-size: 11px;
font-weight: bold;
margin-top: 8px!important;
color: #c2c2c2;
margin-left: 10px;
text-transform: uppercase;
}

.left-panel .nav li a {
padding: 5px 15px;color:#5e5e5e;font-size: 12px
}


.navbar-vio {
  background-color: #6f5499;
  border-color: #6f5499;
  color: #fff
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    background:#fff;
    border:1px solid #fff;
    border-radius:4px;
    width:250px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:250px;
    position: relative;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.system{
  text-transform: uppercase;
font-weight: bold;
margin: 0;
color: #0070c2;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #fff;
}

.navbar-default .navbar-brand {
color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;
background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
color: #fff;
}

/* hide the dropdown*/
.left-panel ul li ul {
   /* display: none; list-style: none;margin-right: -140px;*/
}

.left-panel ul li:hover ul {
   /* display:block;
    position:absolute;
    margin-left:0px;
    margin-top:-1px;
    -webkit-box-shadow:0 3px 10px #8b8b8b;
    -moz-box-shadow:0 3px 10px #8b8b8b;
    box-shadow:0 3px 10px #8b8b8b;
    padding:1px;
    right: 0*/
}
left-panel ul li:hover ul li {
   
}

.left-panel ul li:hover ul li a {
   /* display:block;
    color:#000000;
    background:#ffffff;
    border:none;
    margin-right:1px;
    text-decoration: none;*/
}
.left-panel ul li:hover ul li a:hover {
   /* background: #EEEEEE;text-decoration: none;*/
}
/*the first item in dropdown must not have a border on top */
.left-panel ul li ul li:first-child a {
   /* border-top: none;*/
}
/* now let us define the widths of various dropdown*/
.width-1 li a {
    width:55px;
}
.width-2 li a {
    width: 125px;
}
.width-3 li a {
    width: 165px;
}
.container-emp{
  font-size: 12px;
}

.form-control{
  height: 30px;padding: 0px 12px;font-size: 12px;
}

.form-horizontal .control-group {
margin-bottom: 5px;
}

.dropdown-header{text-transform:uppercase;font-size:11px;font-weight:bold}